body {
   font-size: 20px;
}

h1 {
   text-align: center;
   font-size: 30px;
   margin-bottom: 30px;
   font-weight: normal;
}

input {
   font-size: 27px;
}

.center {
   margin: auto;
   line-height: 0;
}

.wrapper_box {
   /* top | right | bottom | left */
   padding: 20px 2px 30px 2px;
   margin: 30px 70px;
   border: 2px solid black;
}

table {
   text-align:center;
}

.button_divider {
   width:15px;
}

.darktheme {
   background-color: #333;
   color: #fff;
   fill: black;
   border-color:white;
}

.image_transparent{
   opacity: 0.5;
}

.image_table_false{
   background-color: red;
}

.image_table_correct{
   background-color: green;
}

@media screen and (max-width:500px) {
   .wrapper_box {
      padding:0;
      border:0;
      margin:0;
   }
}

/* iphone 5 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
   .wrapper_box {
      padding:0;
      border:0;
      margin:0;
   }

   input {
      font-size: 40px;
      margin-bottom: 30px;
   }

   body {
      font-size: 40px;
   }
   
   h1 {
      text-align: center;
      font-size: 55px;
      margin-bottom: 30px;
      font-weight: normal;
   }
}